# SERVER
PORT=3000
SECRET=your_secret_key_here
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development

# DATABASE
DATABASE_NAME=shipment_db
DATABASE_USERNAME=root
DATABASE_PASSWORD=your_db_password
DATABASE_HOST=localhost
DATABASE_PORT=3306

# AUTHENTICATION
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=7d

# NODEMAILER (Email Notifications)
EMAIL=your_email@gmail.com
PASSWORD=your_email_password

# SENDGRID
FROM_EMAIL=your_email@gmail.com
SENDGRID_API_KEY=your_sendgrid_api_key_here
SUPPORT_EMAIL=your_email@gmail.com

RAPIDAPI_KEY=your_rapid_api_key_for_translate
BACKEND_URL=your_backend_url
FRONTEND_URL=your_frontend_url